{% extends 'base.html' %}
{% block content %}
<div class="form-outline mb-4">
<form action="." method="post">
</div>
{% csrf_token %}
    
    
    <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <h3 class="mb-5">Zmiana hasła</h3>
                  <div class="form-outline mb-4">
                    <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password" class="form-control form-control-lg" />
                    <label class="form-label" for="id_old_password">Stare hasło</label>
                    
                  </div>
      
                  <div class="form-outline mb-4">
                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list" class="form-control form-control-lg" />
                    <label class="form-label" for="id_new_password1">Nowe hasło</label>
                    
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" class="form-control form-control-lg" />
                    <label class="form-label" for="id_new_password2">Nowe hasło (powtórz):</label>
                    
                  </div>

                  {%if form.errors %}
                  <p style="color:red">Nieprawidłowe dotychczasowe hasło albo nowe hasła nie są takie same</p>
                  {%endif%}
                  <input class="btn btn-primary btn-lg btn-block" type="submit" value="Zmień"/>
                    <br>
                    <br>
                  <ul class="list-group">
                    <li class="list-group-item">Twoje hasło nie może być zbyt podobne do twoich innych danych osobistych.</li>
                    <li class="list-group-item">Twoje hasło musi zawierać co najmniej 8 znaków.</li>
                    <li class="list-group-item">Twoje hasło nie może być powszechnie używanym hasłem.</li>
                    <li class="list-group-item">Twoje hasło nie może składać się tylko z cyfr.</li>
                </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</form>
{% endblock %}